@page
@model proiectVetApp.Pages.VeterinaryClinics.IndexModel

@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
    <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryClinic[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryClinic[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryClinic[0].Opens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinaryClinic[0].Closes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VeterinaryClinic)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opens)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closes)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
