@page "/"
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model proiectVetApp.Pages.Animals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Animal) {
    @if (item.Member.Email == @UserManager.GetUserName(User))
    {
    <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Race)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
}
    </tbody>
</table>
